$gradient-ocean: linear-gradient(90deg, #7bdfe6 0%, #5894a6 100%);
$gradient-cloudy: linear-gradient(90deg, #fdfbfb 0%, #eceeef 100%);
$gradient-sunny: linear-gradient(90deg, #ffe25a 0%, #ffa852 100%);
$gradient-river: linear-gradient(90deg, #2dc1e4 0%, #e8ecc7 100%);
$gradient-dark: linear-gradient(90deg, #1c1c1c 0%, #4a4a4a 100%);
$yellow: #ffe25a;
$sunny: #ffa852;
$milk: #e8ecc7;
$ocean: #5894a6;
$sky: #2dc1e4;
$river: #7bdfe6;